
*{
	padding: 0;
	margin: 0;
}
button,a{
	outline: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ovfl{
	overflow: hidden;
}
.w12{
	width: 1200px;
	margin: 0 auto;
}
.top{
	width: 100%;
	min-width: 1210px;
	height: 30px;
	line-height: 30px;
	background-color: #333;
	border-bottom: 1px solid #EDEEF0;
	color: #FFFFFF;
}
.top em{
	color: #f39800;
}

.header{
	height: 100px;
	border-bottom: 1px solid #EDEEF0;
	margin-bottom: 20px;
}
.h-log{
	width: 30%;
	height: 100%;
	line-height: 100px;
	font-size: 30px;
}
.h-nav{
	overflow: hidden;
	padding-top: 20px;
}
.h-nav a{
	display: block;
	float: left;
	line-height: 77px;
	font-size: 18px;
	min-width: 120px;
	color: #666;
	text-align: center;
}
.h-nav a.on,.h-nav a:hover{
	color: #f39800;
	border-bottom: 2px solid #f39800;
}
.account-l{
	width: 200px;
	margin-right: 40px;
}
.account-r{
	width: 960px;
}
.navi{
	width: 100%;
	font-size: 16px;
	line-height: 30px;
	border-bottom: 1px solid #EDEEF0;
}
.arc-l p{
	color: #333;
	font-size: 18px;
	line-height: 45px;
	font-weight: bold;
}
.arc-l li{
	color: #666;
	font-size: 16px;
	line-height: 40px;
}
.arc-l span{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 20px;
}
.arc-l select{
	width: 100px;
	text-align: center;
}
.ac-btn{
	display: block;
	border: none;
	width: 120px;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	background-color: #f39800;
	border-radius: 10px;
	margin: 20px auto;
	font-size: 14px;
}
#main{
	width: 600px;
	height: 500px;
}
.footer{
	width: 100%;
	min-width: 1210px;
	height: 40px;
	background-color: #333;
	margin-top: 40px;
}
.footer p{
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
}
